#contact{
    margin-top: 5%;
}
.contact_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.Connect_text_wrapper{
    width: 50%;
    padding-left: 0%;
}

.form_wrapper{
    width: 40%;
    margin-left: auto;
   
}
@media (max-width: 767px) {
    .contact_container{
 flex-direction: column;
 justify-content: center;
align-items: flex-start;
gap: 1.5rem;
    }
    .Connect_text_wrapper{
        width: 95%;
    }
    .form_wrapper{
        width: 95%;
        margin: auto;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
  }