.project_text_wrapper{
    width: 45%;
    margin: auto;
}
.project_img_wrapper{
    width: 40%;
    margin: auto;
}
.designer_text{
    color: black;
    font-size: 20px;
}
.project_img {
    max-width: 95%;
}
.project_heading{
    font-size: 40px;
    margin-right: auto;
}
.project_text_list{
        font-size: 20px;
        color: white;
}